.App {
    text-align: center;
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.NextElement {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.NextElement #nextElementParagraph {
    margin: 0px;
}
